* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.hdr_left {
  font-size: 35px;
  font-weight: 500;
  -webkit-text-stroke: 1.5px #d92b2b;
  color: #fff;
  text-shadow: 5px 3px 2px #d92b2b;
}
.hdr_mdl ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  gap: 30px;
}

.hdr_mdl ul li:nth-child(1) {
  border-bottom: 2px solid #d92b2b;
}
.hdr_mdl ul li a:hover {
  border-bottom: 2px solid #d92b2b;
}
.hdr_right {
  color: #000;
  font-weight: 600;
}
/* header section ends here  */
.container {
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
  margin-top: 8vw;
}
.container h2 {
  color: gray;
}

.container h1 {
  font-size: 4vw;
}
.container span {
  -webkit-text-stroke: 1.5px #d92b2b;
  color: #fff;
  text-shadow: 5px 3px 2px #d92b2b;
}
.container p {
  line-height: 1.2em;
  color: gray;
  margin-top: 2vh;
}
.container button {
  width: 130px;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  margin-top: 3vh;
  border: none;
  box-shadow: 5px 8px 5px #ff6b6b;
}
button:hover {
  background-color: #ff6b6b;
  box-shadow: 5px 8px 5px #000;
  color: #fff;
  font-weight: 500;
}
.social i {
  margin-top: 30px;
  height: 40px;
  width: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.img {
  position: relative;
  height: 300px;
  width: 400px;
  margin-top: 150px;
  margin-left: 90px;
  background: #d92b2b;
  border-radius: 30% 70% 78% 22% /45% 27% 75% 55%;
}
.img img {
  position: absolute;
  height: 530px;
  bottom: -6px;
}
